@font-face {
    font-family: 'robotoblack';
    src: url(../projekat_webpage/fonts/Roboto-Black.ttf) ;
        }


 @font-face {
    font-family: 'light';
        src: url(../projekat_webpage/fonts/Roboto-Light.ttf) ;
                }


 @font-face {
     font-family: 'regular';
         src: url(../projekat_webpage/fonts/Roboto-Regular.ttf) ;

                        }

  @font-face {
          font-family: 'thin';
            src: url(../projekat_webpage/fonts/Roboto-Thin.ttf);
                                }
                        
                
        
body {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
   
}
.cf ::before, .cf ::after {
    content: " ";
    display: table;
}
.cf ::after {
    clear: both;
}
.top {
    background-image: url("./images/banner3.jpg");
    background-size: cover;
}
body .glavnosranje {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.logo {
    margin-top:13px;
    float: left;
    font-family: 'robotoblack';
    color:orange;
    font-size: 220%;
    margin-left: 30px;
    padding-left: 3px;
    border: solid 3px white;
    border-right: 0px;
}
.logo2 {
    margin-top:13px;
    float: left;
    font-family: 'robotoblack';
    color: #fff;
    font-size: 220%;
    margin-left: 15px;
    padding-left: 3px; 
}
header nav .cf {
    float:right;
    list-style-type: none;
}
header nav ul li {
    float: left;
    padding: 13px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 8px;
    font-size: 130%;
    font-family: 'regular';

}
article .top {
    position:relative;
}
#center1  {
    margin-top: 200px;
    font-size: 290%;
    text-align: center;
    color:white;
    font-family: 'regular';
    margin-bottom:20px;
}
article{
    width:1200px;
    height: 690px;
}
button {
    margin-top:13px;
    margin-left:44%;
    background-color:#1c70b1;
    border-radius: 20%;
    color:white;
    border-radius: 20px 20px 20px 20px;
    padding: 11px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: none;
    box-shadow: none;
    font-family: 'thin';
}

.diamond {
    text-align: center;
    text-transform: uppercase; 
 font-size: 500%;
}

content {
    text-align: center;

}

h3 {
    color:#499edf;
}
div main #div2 #img555 {
    width: 90%;

}

.l3, .l4 {
    list-style-type: none;
}
#ww1 {
    float:left;
    margin:1%;
}  


main #div1 {
   display: inline-block;
    width:26%;
    float: left;
    margin-left: 7.3%;
   
}
main #div2 {
    
    width:26%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}
main #div3 {
    
    width:26%;
    float: left;
  
}
#blok {
    margin-top: 3%;
}
